# folders
artifacts/
build/
cache/
coverage/
dist/
lib/
out/**/*
temp/**/*
types/**/*
node_modules/
deployments/**
src/contracts/vendor/**/*
src/utils/**/*
packages
pages/
ganache.js
test/**/*

# files
.solcover.js
coverage.json
