# folders
artifacts/
build/
cache/
coverage/
dist/
lib/
forge/
temp/**/*
types/**/*
node_modules/
packages/**/*
src/contracts/vendor/**/*
src/contracts/test/**/*
src/utils/**/*
mochawesome-report/**/*

# files
.solcover.js
coverage.json
