# folders
artifacts/
build/
cache/
coverage/
dist/
lib/
forge/
temp/**/*
types/**/*
node_modules/
deployments/**
src/contracts/vendor/**/*
src/contracts/test/**/*
src/utils/**/*
packages
mochawesome-report/**/*
ganache.js
test/**/*

# files
.solcover.js
coverage.json
