# yarn
.yarn/*
!.yarn/releases
!.yarn/plugins

# temp outputs
.coverage_artifacts/
.coverage_cache/
.coverage_contracts/
dist/
lib/
coverage/
artifacts/
cache/
build/
forge/
node_modules/
deployments/hardhat
deployments/localhost
deployments/anvil
types/typechain
_bin
bin

# secrets
*interact.ethers
*.env
*.secrets
*.npmrc

# misc
*.logs
*.tsbuildinfo
coverage.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.DS_Store

# OpenZeppelin
.openzeppelin/dev-*.json
.openzeppelin/unknown-*.json
.openzeppelin/.session