# yarn
.yarn/*
!.yarn/releases
!.yarn/plugins

# temp outputs
.coverage_artifacts/
.coverage_cache/
.coverage_contracts/
dist/
src/contracts/scripts/locals/
src/contracts/test/locals/
coverage/
artifacts/
cache/
build/
out/
broadcast/
node_modules/
deployments/hardhat
deployments/localhost
deployments/anvil
src/types/typechain
src/types/contracts
_bin
bin
lib
# secrets
*interact.ethers
*.env
*.secrets
*.npmrc

# misc
*.logs
*.tsbuildinfo
coverage.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*
**/.DS_Store

*ganache.js
packages/contracts/dist
packages/contracts/src/types/**/*
# OpenZeppelin
.openzeppelin/dev-*.json
.openzeppelin/unknown-*.json
.openzeppelin/.session
