# folders
.vscode
artifacts/**/*
build/
cache/
coverage/
bind/**/*
dist/**/*
bin/**/*
lib/**/*
build/**/*
forge/**/*
node_modules/
temp/**/*
types/typechain/**
types/forged/**
deployments/**
src/contracts/vendor/**/*
mochawesome-report/**/*
# files
coverage.json
.solcover.js
