# folders
.vscode
deployments/**/*
artifacts/**/*
build/
cache/
coverage/
bind/**/*
dist/**/*
bin/**/*
lib/**/*
build/**/*
forge/**/*
node_modules/
temp/**/*
types/**/*
packages/**/*
src/contracts/vendor/**/*

# files
coverage.json
.solcover.js
