# folders
artifacts/
build/
cache/
coverage/
bind/
dist/
bin/
out/
lib/
build/
node_modules/
temp/
types/typechain/
types/forged/
deployments/
src/contracts/vendor/
mochawesome-report/
# files
coverage.json
.solcover.js
/src/**/*.json
