[default]
src = "src/contracts"
out = "forge/artifacts"
libs = ["node_modules", "lib"]
extra_output = [
    "metadata",
    'abi',
    'evm.bytecode.object',
    'evm.deployedBytecode.object',
    "storageLayout",
    "evm.methodIdentifiers",
    "devdoc",
    "userdoc",
    "evm.gasEstimates",

]
optimizer = true
optimizer_runs = 200
cache = true
cache_folder = "forge/cache"


