name: Install cached packages
on: [push]
jobs:
    install-with-cache:
        name: Run tests
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
            - uses: actions/setup-node@v3
              with:
                  node-version: "16"
                  always-auth: true
                  cache: "npm"
                  registry-url: https://registry.npmjs.org
                  scope: "@kreskolabs"
            - run: git config --global url."https://${{ secrets.GH_TOKEN }}@github.com/".insteadOf ssh://git@github.com/
            - run: corepack enable
            - run: npm ci --ignore-scripts --legacy-peer-deps
              env:
                  NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
            - run: npm run test
              env:
                  BURN_FEE: 0.015
                  LIQUIDATION_INCENTIVE: 1.1
                  MINIMUM_COLLATERALIZATION_RATIO: 1.5
                  MINIMUM_DEBT_VALUE: 10
                  SECONDS_UNTIL_STALE_PRICE: 60
